@font-face {
    font-family: 'apercu';
    src: url(../fonts/apercu_medium.woff);
}

@font-face {
    font-family: 'akkurat';
    src: url(../fonts/Akkurat-Light.woff);
}

body {
    font-family: 'akkurat';
}

.navbar-nav {
    float: right;
}

.home-wrapper {
    margin: 0 auto;
    display: block;
}

.home-wrapper h1 {
    transform: rotate(-8deg);
    line-height: 85px;
    font-size: 80px;
    font-family: 'apercu', 'Roboto', sans-serif;
    ;
}

h1 {
    font-family: 'apercu';
}

.navbar-custom {
    padding: 10px 0px;
}

.logo-container img {
    margin-left: 10px;
}

.title {
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 50px;
}

.title-contact {
    line-height: 40px;
    margin-top: 40px;
    font-weight: 200;
}

.find-out-more {
    text-align: center;
}

.brochure {
    margin: 0 auto;
    width: 80%;
}

h2 {
    transform: rotate(-8deg);
    font-family: 'apercu', 'Roboto', sans-serif;
    ;
}

p {
    font-size: 18px;
}

#contact {
    background: #F5CC00;
}

button {
    margin-top: 10%;
    width: 160px;
    height: 40px;
}

button:hover {
    background: #496174;
    color: #fff;
}

@media (max-width: 768px) {
    .home-wrapper {
        margin-bottom: 100px;
        text-align: center;
    }
    .home-wrapper h1 {
        font-size: 70px;
        line-height: 74px;
        width: 100%;
    }
    .brochure {
        width: 70%;
    }
}


.carousel {
    width: 420px;
    height: 100px;
}

.carousel .slider-display {
    width: 100%;
}

.carousel .slider-display > div {
    display: block;
    width: 100%;
    height: 100px;
    background: red;
    color: white;
}